@charset "UTF-8";

@media (max-width: 656px) {
    .background {
        padding: 10px;
    }

    header {
        flex-direction: column;  
    }

    i#burguer {
        margin-top: 20px;
        padding: 10px;

        background-color: #ffb53dd1;
        color: white;
        border-radius: 10px;
        text-align: center;
    }

    i#burguer:hover {
        background-color: rgba(255, 255, 255, 0.786);
        color: #ffb53dd1;
        cursor: pointer;
    }

    #itens {
        display: none;
        margin-top: 20px;
    }

    #itens > li > a {
        display: block;
        padding: 5px;
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .container-text {
        margin-top: 20px;
        padding: 0 10px;
        text-align: center;
    }

    .text h1 span {
        display: block;
    }

    .text p {
        text-align: justify;
        width: 100%;   
    }
}
